.listItem {
  cursor: pointer;
}

.listItem:hover {
  scale: 1.1;
}

.listItem a {
  color: var(--text);
  text-decoration: none;
}

.marginRight {
  margin-right: 2rem;
}

.marginRight:last-child {
  margin-right: 0;
}

.img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 0.5rem;
}
